ssh_context_host     = "myserver"
ssh_private_key_path = "~/.ssh/id_rsa"
api_server_host      = "myserver"

registry = {
  network_name    = "registry_net"
  create_network  = true
  create_registry = true
  create_ui       = true
  bind_address    = "0.0.0.0"
  port            = 5000
  ui_bind         = "127.0.0.1"
  ui_port         = 8081
  title           = "Remote Docker Registry"
}

recreate_revision = ""
