kubeconfig_path = "./blitzinfra-kubeconfig"

zipkin = {
  namespace     = "zipkin"
  release_name  = "zipkin"
  image         = "openzipkin/zipkin:3"
  expose_public = false
  service_port  = 9411
  node_port     = 32411
}

recreate_revision = ""
