ssh_context_host     = "myserver"
ssh_private_key_path = "~/.ssh/id_rsa"
api_server_host      = "myserver"
bootstrap_namespace  = "blitzpay-dev"
keycloak_url         = "https://sso.example.com"
backstage_backend_auth_key = "replace-with-long-random-secret"
backstage_auth_provider = "keycloak"
backstage_keycloak_base_url = "http://myserver:8080"
backstage_keycloak_realm = "backstage"
backstage_keycloak_client_id = "backstage"
backstage_keycloak_client_secret = "replace-with-client-secret"

keycloak_port_mapping = {
  node_port = 32080
  host_port = 8080
}

registry = {
  network_name   = "registry_net"
  create_network = true
  bind_address   = "0.0.0.0"
  port           = 5000
  ui_bind        = "127.0.0.1"
  ui_port        = 8081
  title          = "Remote Docker Registry"
}

postgres = {
  bind_address = "0.0.0.0"
  port         = 5432
  db_name      = "blitzinfra"
  user         = "blitzinfra"
  password     = "change-me"
  volume_name  = "postgres_data"
}

kubernetes = {
  cluster_name    = "blitzinfra"
  api_server_port = 6443
  worker_count    = 4
  kind_node_image = "kindest/node:v1.30.0@sha256:047357ac0cfea04663786a612ba1eaba9702bef25227a794b52890dd8bcd692e"
}

backstage = {
  enabled       = true
  namespace     = "backstage"
  chart_version = "2.6.3"
  image_tag     = "1.30.2"
  base_url      = "https://myserver:7007"
  expose_public = true
  node_port     = 32007
  host_port     = 7007
}

headlamp = {
  enabled                     = false
  namespace                   = "headlamp"
  chart_repository            = null
  chart_name                  = "../../vendor/headlamp-chart"
  chart_version               = "0.40.1"
  expose_public               = false
  node_port                   = 32443
  host_port                   = 8443
  create_service_account      = true
  service_account_name        = "headlamp"
  create_cluster_role_binding = true
  cluster_role_name           = "cluster-admin"
}

kafka = {
  enabled                  = true
  namespace                = "kafka"
  release_name             = "kafka"
  chart_repository         = "oci://registry-1.docker.io/bitnamicharts"
  chart_name               = "kafka"
  chart_version            = "32.0.2"
  controller_replica_count = 1
  broker_replica_count     = 1
  persistence_enabled      = false
  persistence_size         = "8Gi"
  image_registry           = "docker.io"
  image_repository         = "bitnamilegacy/kafka"
  image_tag                = "4.0.0-debian-12-r10"
  expose_public            = true
  external_node_port       = 32092
  external_host_port       = 9092
  expose_dashboard_public  = true
  dashboard_node_port      = 32081
  dashboard_host_port      = 8088
  dashboard = {
    release_name     = "kafka-ui"
    chart_repository = "https://provectus.github.io/kafka-ui-charts"
    chart_name       = "kafka-ui"
    chart_version    = null
  }
}

observability = {
  enabled              = true
  namespace            = "observability"
  expose_public        = true
  grafana_node_port    = 32300
  grafana_host_port    = 3000
  prometheus_node_port = 32090
  prometheus_host_port = 9090
  loki = {
    enabled = false
  }
  tempo = {
    enabled = false
  }
}

recreate_revision = ""
